body {
    background-color: rgba(252, 190, 115, 0.425);
  }
h1{ 
    text-align: center;
    color: black;
    font-size:50px;
    font-family: 'Courier New';
 }
.icon{
    height:200px;
    width: 200px;
    float: left;
    padding: 10%;
    margin-right: 30px;
    margin-left: 30px;
    margin-top: 40px;
    font-size: 20px;
 }

.icon:focus{
    color: rgba(240, 169, 142, 0.699);
}