body {
    background-color: rgba(252, 190, 115, 0.425);
   }
  
.title {
    color: rgb(31, 23, 75);
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
   }
.text_input{
    text-align: center;
   }
.data1{
    caret-color: black;
    font-size: large;
    height:200px;
    width: 600px;
    border: solid;
    border-color: rgba(54, 9, 9, 0.589);
    border-radius: 2%;
    word-break: break-word;
    resize: none;
   }
.data1:focus{
    border-color: rgba(46, 11, 34, 0.781);
   }
.bu1{
    margin: auto;
    padding-top: 50px;
   }
.forwardBtn{
   height:40px;
   width: 100px;
   background-color: rgb(39, 19, 31);
   color: bisque;
 }
.word_count{
    text-align: center;
    padding-right: 200px;
    padding-top: 50px;
    color: rgba(0, 0, 0, 0.863);
 }